.card-wide{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.card-wide:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}

.container{
    width: 100%;
    padding: 2%;
}

.img-card-small{
    height: 100px;
    width: 100px;
}

.card-panel {
    padding: 0.01em 16px
}

.card-panel {
    margin-top: 16px;
    margin-bottom: 16px
}

.blue{
    background-color: blue;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.flex{
    display: flex;
}

.width-10{
    width: 10%;
}

.width-80{
    width: 80%;
}

.card-title{
    font-size: 24pt;
}

.card-price{
    font-size: 16pt;
}

center{
    margin-left: auto;
}

.padd-2-side {
    padding-right: 2%;
}

.padd-2{
    padding: 1%;
}

.footer-cart{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 8%;
}

.price-title-small{
    font-size: 10pt;
}

.price-small{
    font-size: 14pt;
}

.width-100{
    width: 100%;
}

.button {
    background-color: #1e3799;
    /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    padding: 10px 64px;
}